@use  "../../assets/styles/variables.scss" as var; 

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    height: var.$header-height;
    background-color: var.$main-color;

    align-items: center;
    justify-content: center;

    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    & h3 {
        color: var.$text-on-black;
        font-family: "Hachi Maru Pop";
        margin-bottom: 8px;
        margin-left: 16px;
    }
 }

 .icon {
    display: block;
    margin-right: 36px;
    width: 362x;
    height: 32px;
 }