@use  "../../assets/styles/variables.scss" as var; 

.header {
    position: relative;
    display: flex;
    height: var.$header-height;
    background-color: var.$main-color;

    align-items: center;
    justify-content: center;

    & h1 {
        color: aliceblue;
        font-family: "Hachi Maru Pop";
    }

 }