@use "@/assets/styles/variables" as var;
@use "@/assets/styles/mixins";

.formSummary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
};

.centralWraper {
    flex: 1 1 auto;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    // align-items: center;
}
.categories {
    width: 150px;
}

