@use "@/assets/styles/variables" as var;
@use "@/assets/styles/mixins";

.formSummary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
};

.photo {
    align-self: center;
}
