@use "/app/assets/styles/variables" as var;

.formSummary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;


};
.title {
    height: 36px;
}
.photo {
    align-self: center;
}
