@use "@/assets/styles/variables" as var;
@use "@/assets/styles/mixins";

.btn {
    width: 100%;
    height: var.$firstHS;
    background-color: var.$main-color;
    @include mixins.font-rules(var.$inputTitleFS, var.$inputTitleFF);
    color: var.$text-on-black;
    border-radius: var.$main-btn-radius;
    padding: var.$btn-padding;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5), 0 6px 12px rgba(0, 0, 0, 0.25);



};