@use "@/assets/styles/variables" as var;
@use "@/assets/styles/mixins";

.btn {
    width: 100%;
    height: var.$firstHS;
    background-color: var.$main-color;
    @include mixins.font-rules(var.$inputTitleFS, var.$inputTitleFF);
    color: var.$text-on-black;
    border-radius: var.$main-btn-radius;
    padding: var.$btn-padding;


 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5), 0 6px 12px rgba(0, 0, 0, 0.25);



}

// .btn-3d-soft { 
//     background-color: #000; 
//     color: #fff; border: none; 
//     border-radius: 0; 
//     padding: 12px 24px; 
//     font-size: 16px; cursor: pointer; 
//     box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), /* лёгкий верхний свет внутри кнопки / 0 6px 16px rgba(0,0,0,0.35); / внешняя тень */ 
//     transform 0.15s ease, 
//     box-shadow 0.15s ease; 
//     outline: none; } 
// .btn-3d-soft:hover { 
//     transform: translateY(-1px);
//     box-shadow: inset 0 1px 0 rgba(255,255,255,0.18), 0 8px 20px rgba(0,0,0,0.38); } 
// .btn-3d-soft:active { 
//     transform: translateY(1px); 
//     box-shadow: inset 0 2px 0 rgba(255,255,255,0.12), 0 4px 12px rgba(0,0,0,0.32); } 
// .btn-3d-soft:focus-visible { outline: 2px solid #fff; outline-offset: 2px; }