@use "@/assets/styles/variables" as var;
@use "@/assets/styles/mixins";

.item {
        height: var.$firstHS;
        min-height: 36px;
        position: relative;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        margin-left: 16px;
        padding-left: 32px;
        padding-right: 8px;
        margin-bottom: var.$second-gap;
        @include mixins.font-rules(var.$listItemFS, var.$inputFieldFF);
        border-radius: var.$main-btn-radius;
        background-color: gray;
        color: var.$text-on-black;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5), 0 6px 12px rgba(0, 0, 0, 0.25);
};

.circle {
    @include mixins.circle(-16px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var.$text-on-black;
};
