@use "../../../../assets/styles/variables" as var;

.photoInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    & img {
        border-radius: var.$secondBR;
    }
    & input {
        display: none
    };
    & label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 36px;
        border-radius: 5px;
        margin: 16px 0;
        background-color: var.$main-color;
        color: var.$text-on-black;
    }
};