$bg-color: hsla(0, 8%, 88%, 0.5);
$main-color: #000;
$text-on-black: aliceblue;
$main-gap: 16px;
$second-gap: 8px;

//font
    //size
$inputTitleFS: 18px;
$inppuFieldFS: 16px;
    //family
$inputTitleFF: "Rubik";
$inputFieldFF: "Rubik";