$header-height: 10vh;
$content-height: 80vh;
$footer-height: 10vh;
//background
$bg-color: #F2F2F2;
//color
$main-color: #1a1a1a;
// $text-on-black: aliceblue;
$text-on-black: rgb(236, 236, 236);
$whiteColor: #fff;
$main-gap: 16px;
$second-gap: 8px;

//height-size
//HS
$footer-height: 70px;
$firstHS: 36px;
$secontHS: 20px;
//box-radius
//BR
$main-box-radius: 10px;
$secondBR: 5px;

//font
    //size
$inputTitleFS: 16px;
$inppuFieldFS: 16px;
$listItemFS: 14px;
    //family
$inputTitleFF: "Rubik";
$inputFieldFF: "Rubik";
    //color
$main-text-color: #1f1f1f;

// btns
$non-active-btn: rgba(240, 248, 255, 0.5);
$active-btn: aliceblue;
$main-btn-radius: 10px;
$btn-padding: 5px;

//circle for menu list
$circle-top: -4px;
$circle-diameter: 36px;