$bg-color: #F2F2F2;
$main-color: #000;
$text-on-black: aliceblue;
$main-gap: 16px;
$second-gap: 8px;
//box-radius
$main-box-radius: 10px;
//footer
$footer-height: 70px;

//font
    //size
$inputTitleFS: 18px;
$inppuFieldFS: 16px;
    //family
$inputTitleFF: "Rubik";
$inputFieldFF: "Rubik";