@use "./variables" as var;
@use "./mixins";

@font-face {
    font-family: "Hachi Maru Pop";
    src: url("../fonts/HachiMaruPop-Regular.ttf") format('truetype');
};

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-VariableFont_wght.ttf") format('truetype');
}

* {
    padding: 0;
    margin: 0;
    border: none;
}
input, textarea {
    color: var.$main-text-color;
    &:focus {
        outline: none;
        border: none;
    }

}
button {
    background-color: transparent;
}
ul {
    list-style-type: none;    
}
a {
    all: unset;
}
select {
    all: unset;
}


html, body { box-sizing: border-box;}
body {
    width: 100vw;
    height: 100vh;
    background-color: var.$main-color;
    font-family: "Rubik";
}

#root {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 70px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'header'
        'content'
        'footer';
}




// main-input
.main-input {
    height: 24px;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: var.$input-padding;
    @include mixins.font-rules(0.8rem, 'Rubik');
    background-color: var.$whiteColor;
    border-radius: var.$input-radius;
    @include mixins.input-shadow;

    // main-input-wraper
    &-wraper {
        position: relative;
        // width: 100%;
        display: flex;
        // flex-direction: column;

        // main-input-wraper--dynamic-label
        &--dynamic-label {

            & input:focus + label, input:not(:placeholder-shown) + label, textarea:focus + label, textarea:not(:placeholder-shown) + label{
                top: 0; 
                transform: translateY(-100%); 
                color: #555; 
                // padding: 0 2px; 
            }
        }
    }

    // main-input-label
    &-label {
        @include mixins.font-rules(0.9rem, 'Rubik');
        color: #888; 

        // main-input-label--dynamic
        &--dynamic {
            position: absolute; 
            left: 3px;
            top: var.$input-padding;
            pointer-events: none; 
            transition: all 0.2s ease; 
            background: transparent; 
            z-index: 1; 
        }
    }
}



//recipe
.recipe {

    //recipeCard
    &Card {
        padding: var.$second-gap;
        box-sizing: border-box;
        margin-bottom: var.$second-gap;


        border: thin outset #8c8c8c80;
        border-radius: 10px;

        -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
        -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
        box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    }
}



//recipe-form

// description
.description {
    height: 200px;
}

//
.photo {
    
    // photo-wrapper
    &-wrapper {
        align-self: flex-start;
        display: flex;
        width: 150px;
        flex-direction: column-reverse;

    }
    // photo-image
    &-image {
        border-radius: 10px;
        margin-top: 20px;
        align-self: center;


    }
    // photo-label
    &-label {
        height: 24px;
        box-sizing: border-box;
        padding: var.$input-padding;
        @include mixins.font-rules(0.8rem, 'Rubik');
        background-color: var.$whiteColor;
        border-radius: var.$input-radius;
        @include mixins.input-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    // photo-title
    &-title {
        margin-bottom: 3px;
        text-align: end;
        @include mixins.font-rules(0.9rem, 'Rubik');
        color: #888; 
    }
}