@use "./variables" as var;
@use "./mixins";
* {
    padding: 0;
    margin: 0;
    border: none;
}
ul {
    list-style-type: none;    
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-VariableFont_wght.ttf") format('truetype');
}

body {
    background-color: var.$bg-color;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-item {
    &_title {
        @include mixins.font-rules(var.$inputTitleFS, var.$inputTitleFF);
    }
    &_field {
        @include mixins.font-rules(var.$inppuFieldFS, var.$inputFieldFF);
        padding: 0 var.$second-gap;
        border-radius: var.$main-box-radius;
    }
}