@use "./variables" as var;
@use "./mixins";

@font-face {
    font-family: "Hachi Maru Pop";
    src: url("../fonts/HachiMaruPop-Regular.ttf") format('truetype');
};

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-VariableFont_wght.ttf") format('truetype');
}

* {
    padding: 0;
    margin: 0;
    border: none;
}
input, textarea {
    color: var.$main-text-color;
    &:focus {
        outline: none;
        border: none;
    }

}
button {
    background-color: transparent;
}
ul {
    list-style-type: none;    
}
a {
    all: unset;
}
select {
    all: unset;
}


body {
    background-color: var.$main-color;
    font-family: "Rubik";
}

#root {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'header'
        'content'
        'footer';
}



// RecipeForm
.recipeForm {

    // RecipeFormInputWraper
    &InputWraper{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;

        & input, textarea{
            box-sizing: border-box;
            flex: 1 1 auto;
            border-radius: var.$secondBR;
            @include mixins.font-rules(var.$inppuFieldFS, var.$inputFieldFF);
            @include mixins.whiteInputBox;
        }

        & label {
            position: absolute; 
            left: 3px;
            transform: translateY(-50%); 
            color: #888; 
            font-size: 16px; 
            pointer-events: none; 
            transition: all 0.2s ease; 
            background: transparent; 
            padding: 0 6px; 
            border-radius: 4px; 
            z-index: 1; 
            @include mixins.font-rules(var.$inppuFieldFS, var.$inputFieldFF);
        }

        & input:focus + label, input:not(:placeholder-shown) + label, textarea:focus + label, textarea:not(:placeholder-shown) + label{
            top: 0; 
            transform: translateY(-100%); 
            font-size: 14px; 
            color: #555; 
            padding: 0 6px; 
        }
    }

    // recipeFormShortInput
    &ShortInput {

        & input {
            height: 36px;
        }
        & label {
            top: 50%;
        }
    }

    //recipeFormLongInput
    &LongInput {
        
        height: 200px;

        & label {
            top: 10%;
        }
    }
}