@use "./variables" as var;
@use "./mixins";
* {
    padding: 0;
    margin: 0;
    border: none;
}
ul {
    list-style-type: none;    
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-VariableFont_wght.ttf") format('truetype');
}

body {
    background-color: var.$bg-color;
}

#root {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 8fr var.$footer-height;
    grid-template-columns: 1fr 1fr;
    gap: var.$main-gap;
    grid-template-areas: 
        "header header"
        "content content"
        "footer footer"
    ;
}

.input-item {
    &_title {
        @include mixins.font-rules(var.$inputTitleFS, var.$inputTitleFF);
    }
    &_field {
        @include mixins.font-rules(var.$inppuFieldFS, var.$inputFieldFF);
        padding: 0 var.$second-gap;
        border-radius: var.$main-box-radius;
    }
}