@use "@/assets/styles/variables" as var;

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var.$main-gap;
}

.hide {
    display: none !important;
}






