@use "@/assets/styles/variables" as var;
@use "@/assets/styles/mixins" as mixins;

.input {
        display: none
};


.wrapper {
    display: flex;
    flex-direction: column;

    // wrapperSmallColumn
    &SmallColumn {
        width: 150px;
        align-self: flex-start;
    }

    // wrapperRegular
    &Regular {
        height: 300px;
        justify-content: start;
        align-items: center;
        height: 300px;
    }
};

.img {
    border-radius: 10px;
    margin-top: 20px;
    align-self: center;

    // // imgSmallColumn
    &SmallColumn {
        width: 128px;
        height: 128px;
    }

    // // imgRegular
    // &Regular {

    // }
};

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    box-sizing: border-box;
    padding: var.$input-padding;
    @include mixins.font-rules(0.8rem, 'Rubik');
    background-color: var.$whiteColor;
    border-radius: var.$input-radius;
    @include mixins.input-shadow;

    // // btnSmallColumn
    // &SmallColumn {

    // }

    // btnRegular
    &Regular {
        width: 150px;
    }
};

.label {
    margin-bottom: 3px;

    @include mixins.font-rules(0.9rem, 'Rubik');
    color: #888; 
    

    // labelSmallColumn
    &SmallColumn {
        text-align: end;
    }

    // labelRegular
    &Regular {
        text-align: center;
    }
}


