@use "@/assets/styles/mixins/" as mixins;
@use "@/assets/styles/variables" as var;


.card {
    display: flex;
    width: 100%;
    padding: var.$second-gap;
    box-sizing: border-box;
    margin-bottom: 16px;


    border: thin outset #8c8c8c80;
    border-radius: 10px;

    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);

    // cardImg
    &Img {
        margin-right: 8px;
        border-radius: var.$main-box-radius;
        border: thin groove #8c8c8c80;
    }

    // cardTitle
    &Title {
        font-size: 0.8rem;
        display: inline-block;
        margin-bottom: 8px;
    }

    // cardText
    &Text {
        font-size: 0.75rem;
        white-space: normal;
        overflow-wrap: break-word;
        word-break: break-word;    
        hyphens: auto;
    }

    & button {
        display: block;
        margin: 0 auto;
        @include mixins.font-rules(0.8rem, "Rubik");
        color: #888;
    }
}
