@use "@/assets/styles/variables" as var;
@use "@/assets/styles/mixins";


.filterBar {
    box-sizing: border-box;
    padding: 0 var.$second-gap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var.$firstHS;
    font: {
        size: 0.75rem;
    }
    @include mixins.recipesGrayBox;
}

//categories
.categories {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80px;
    flex: 1 1 80px;
    height: 24px;

    //categoriesSelect 
    &Select {
        position: absolute;

        top: calc(100% + 16px);
        left: -8px;
        min-height: 80px;
        height: auto;
        max-height: 300px;
        align-items: center;

        width: 120px;
        border-radius: 4px;
        padding: var.$second-gap;
        @include mixins.grayGradientBg;

        -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
        -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
        box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);


        & label {
            padding: 3px;
        }
    }
}

//serchRecipes
.serchRecipes {

    // flex: 1 1 auto;
    // height: 24px;
    // margin: 0 5px;

    // & input { 
    //     width: 150px;
    //     height: 100%;
    //     box-sizing: border-box;
    //     border-radius: 3px;
    //     padding: 0 3px;

    //     background-color: var.$bg-color;
    //     -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    //     -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    //     box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    // }

}

//ownRecipes
.ownRecipes {
    display: flex;
    height: 24px;
    padding: 3px;
    justify-content: end;
    align-items: center;

    //ownRecipesBtn
    &Btn {
        margin: 0 5px;
    }
}

.arrow {
    width: 16px;
    height: 16px;
}

