@use "../../../assets/styles/variables.scss" as var;

.recipeForm {
    position: relative;
    display:  flex;
    flex-direction: column;
    height: 100%;
    & h5 {
        text-align: center;
        font: {
            family: "Hachi Maru Pop";
        }
        margin-bottom: 32px;
    }
}