@use "@/assets/styles/_variables.scss" as var;

.icon {
    color: var.$text-on-black;
}
.menu {
    position: absolute;
    z-index: 2;
    bottom: - calc(var.$footer-height + var.$main-gap);
    left: - var.$main-gap;
    display: flex;
    width: calc(100% + var.$main-gap * 2);
    justify-content: space-between;
    align-items: center;
    background-color: var.$main-color;
}