@use "../../assets/styles/variables.scss" as var;
@use "@/assets/styles/mixins";

.content {
    position: relative;
    grid-area: content;
    overflow: auto;
    padding: var.$main-gap var.$second-gap;
    box-sizing: border-box;
    background-color: var.$bg-color;
    border-radius: var.$main-box-radius;

    @include mixins.contentShadow;


}