@use "../../assets/styles/variables.scss" as var;

.content {
    grid-area: content;
    border: 2px solid var.$main-color;
    border-radius: var.$main-box-radius;
    margin: 0 var.$main-gap;
    padding: var.$second-gap;

}