
.ingrredientsForm {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.inputWraper {
    display:  grid;
    grid-template-rows: 36px 36px 36px;
    grid-template-columns: 150px 1fr;
    grid-template-areas: 
        'title title'
        'count unit'
        'btn btn';
    gap: 20px 14px;
    box-sizing: border-box
 };


 .title {
    grid-area: title;
 }
 .count {
    grid-area: count;

    & input {
        width: 100%;
    }
 }
 .unit {
    grid-area: unit;    
 }
 .btn {
    grid-area: btn;
 }


 .label {
    top: 50%;
 }
