@use "@/assets/styles/variables" as var;

.ingrredientsForm {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.inputWraper {
    display:  grid;
    grid-template-rows: 36px 36px 36px;
    grid-template-columns: 100px 230px;
    grid-template-areas: 
        'title title'
        'count unit'
        'btn btn';
        gap: 20px 14px;
 };
 .input {
    height: 36px;
    
    //input title
    &Title {
        grid-area: title;
    }
    //input count
    &Count {
        grid-area: count;
    }
    //input unit
    &Unit {
        grid-area: unit;
    }
    //input Button
    &Btn {
        grid-area: btn;
    }
 };
 .label {
    top: 50%;
 }
