@use "@/assets/styles/variables" as var;
@use "@/assets/styles/mixins";

.ingrredientsForm {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.inputWraper {
    display:  grid;
    grid-template-rows: 36px 36px 36px;
    grid-template-columns: 100px 230px;
    grid-template-areas: 
        'title title'
        'count unit'
        'btn btn';
        gap: 20px 14px;
 };
 .input {
    height: 36px;
    
    //input title
    &Title {
        grid-area: title;
    }
    //input count
    &Count {
        grid-area: count;
    }
    //input unit
    &Unit {
        grid-area: unit;
    }
    //input Button
    &Btn {
        grid-area: btn;
    }
 };
 .label {
    top: 50%;
 }

.list {
    height: 300px;
    overflow: auto;
    margin: 16px 0;
    padding: 0 5px;
    
    & li {
        height: var.$firstHS;
        min-height: 36px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 16px;
        padding-left: 32px;
        padding-right: 8px;
        margin-bottom: var.$second-gap;
        @include mixins.font-rules(var.$listItemFS, var.$inputFieldFF);
        border-radius: var.$main-btn-radius;
        background-color: gray;
        color: var.$text-on-black

    };
    &Item{
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5), 0 6px 12px rgba(0, 0, 0, 0.25);
    };

};

.circle {
    position: absolute;
    left: -16px;
    top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 4px solid var.$bg-color;
    border-radius: 50%;
    background-color: var.$main-color;
    color: var.$text-on-black;
}