@use "@/assets/styles/variables" as var;
@use "@/assets/styles/mixins";

.card {
    display: grid;
    width: 100%;
    height: 150px;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 120px 1fr;
    grid-template-areas: 
        'img title'
        'img description';
    gap: var.$second-gap;
    padding: var.$second-gap;
    box-sizing: border-box;
    margin-bottom: var.$main-gap;


    border: thin outset #e3e4ef;
    border-radius: 5px;

    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.title {
    grid-area: title;
    // text-align: center;
    font-size: 0.8rem;
}
.img {
    grid-area: img;
    align-self: center;
    border-radius: 3px;
            // border: thin solid #8c8c8c;
}
.description {
    grid-area: description;
    font-size: 0.75rem;
}