@use "@/assets/styles/variables" as var;
@use "@/assets/styles/mixins";

.card {
    display: grid;
    width: 100%;
    height: 150px;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 120px 1fr;
    grid-template-areas: 
        'img title'
        'img description';
    gap: var.$second-gap;
}

.title {
    grid-area: title;
    font-size: 0.8rem;
}
.img {
    grid-area: img;
    align-self: center;
    border-radius: 3px;
            // border: thin solid #8c8c8c;
}
.description {
    grid-area: description;
    font-size: 0.75rem;
}