@use "@/assets/styles/variables" as var;
@use "@/assets/styles/mixins" ;

@keyframes panelIn { to { transform: scaleX(1)} };


.menu {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var.$main-color;
    border-radius: var.$main-btn-radius;

    //menuVisible
    &Visible {
        transform: scaleX(1);
        opacity: 1;
    }

    &Btn {
        position: relative;

        @include mixins.font-rules(0.9em, "Hachi Maru Pop");
        font-weight: 900;
        font-variant: small-caps;
        color: var.$text-on-black;

        //menuBtnRemove
        &Remove {

        };
        //menuBtnEdite
        &Edite {

        }

    }
    
    //menuShow
    &Show {
        display: flex;
        transform-origin: left center; 
        transform: scaleX(0); 
        animation: panelIn 0.6s ease-out forwards;
    }
    // menuHide
    &Hide  {
        display: none;
    }
};
