@use "@/assets/styles/variables" as var;
@use "@/assets/styles/mixins";


.select {
    display: flex;
    flex-direction: column;

    //selectHide 
    &Hide {
        display: none;
    }
    & input {
        display: none;
    }
}

.label {

    //labelChecked
    &Checked {
        color: red;
    }
}