@use "@/assets/styles/_variables.scss" as var;

.btn { 
    width: 24px;
    height: 24px;
    //btnEnabled
    &Enabled {
        color: var.$text-on-black;
    }
    // btnDisabled
    &Disabled {
        color: #888;
    }
}
.menu {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
    background-color: var.$main-color;
    
    // menu_btn
    &Btn {
        color: var.$active-btn;
        //menuBtnAdd
        &Add {
            transform: rotate(45deg)
        };
        //menuBtnClose
        &Close {

        };
        //menuBtnReset
        &Reset {
            margin-right: 32px;
        }
        //menu_btn--active
        &Active {
            color: var.$active-btn;
        };
        // menu_btn--non-active
        &NonActive {
            color: var.$non-active-btn;
        };
    }
   
}